{% extends 'base/layout.html' %}

{% comment %}
This is how you can add
lots
of
text
for multiline comments
{% endcomment %}

{# And this is a single-line comment #}


{% block title %}
{% comment %}
This is the text that is shown in the browser's title and also
in the header text (unless 'header' block is defined separately)
{% endcomment %}
Hello, World!
{% endblock title %}


{% block content %}
{# "number" is the variable assigned when calling render() in the view #}
Your lucky number is <b>{{ number }}</b>!
<p>
And query parameters in dict: {{ query_params }}
{% endblock content %}
