{% extends 'base/layout.html' %}

{% comment %}
This is how you can add
lots
of
text
for multiline comments
{% endcomment %}

{# And this is a single-line comment #}


{% block title %}
{# This is the text that is in the browser's title #}
Hello World page
{% endblock title %}


{% block header %}
{# No idea what these all do, but they give the familiar look and feel in NetBox 3.7 #}
<div class="title-container px-3 pb-3">
    <div id="content-title">
        <h1 class="h2 w-100">Hello, World!</h1>
    </div>
</div>
{% endblock header %}


{% block content %}
{# "number" is the variable assigned when calling render() in the view #}
Your lucky number is <b>{{ number }}</b>!
<p>
And query parameters in dict: {{ query_params }}
{% endblock content %}
